<section>
  <div class="container" id="holiday-service" style="">
    <h2>Holiday Service</h2>
    <div>
      <p>Caltrain operates on the <a href="pdf/Weekend-Schedule.pdf" target="_blank">Sunday schedule</a> during the following holidays:</p>
      <ul>
        <li>New Year's Day</li>
        <li>Memorial Day</li>
        <li>Independence Day (Fourth of July)</li>
        <li>Labor Day</li>
        <li>Thanksgiving Day</li>
        <li>Christmas day</li>
      </ul>
      <p>The Monthly Pass is honored for unlimited trips between all zones for all of the above listed holidays. For more info on Ticket Types, click <a href="http://www.caltrain.com/Fares/tickettypes.html" target="_blank">HERE</a>.</p>
  </div>
</section>