<section >
  <div class="container" id="pdf-schedules">
    <h2>PDF Caltrain Schedules</h2>
    
    <div class="print-pdf">
      <h5>Print-Friendly PDFs</h5>
      <br>
      <strong>Weekdays:</strong>
      <p><a href="pdf/Weekday-Southbound.pdf" target="_blank">Southbound Timetable</a>
      &nbsp;(PDF, 144KB)&nbsp;
      </p>
      <br>
      <p><a href="pdf/Weekday-Northbound.pdf" target="_blank">Northbound Timetable</a>
      &nbsp;(PDF, 144KB)&nbsp;
      </p>
      <div>
        <strong>Weekends:</strong>
        <p><a href="pdf/Weekend-Schedule.pdf" target="_blank">Northbound and Southbound Timetable</a>
        &nbsp;(PDF, 116KB)&nbsp;
        </p>
      </div>
      <div>
        <p>Full <a href="pdf/Full-Timetable.pdf" target="_blank">Pocket Timetable - Effective April 4, 2016</a>
          &nbsp;download (PDF, 868KB)&nbsp;
        </p>
      </div>
    </div>
  </div>
</section>